.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.explore-menu-text{
    font-size: max(1vw, 14px);
    max-width: 60%;
}

.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: auto;
    
     /* scrollbar-width: none; 
    -ms-overflow-style: none;  */
}

/* .explore-menu-list::-webkit-scrollbar {
    display: none;
} */

.explore-menu-list-item{
    cursor: pointer;
}

.explore-menu-list-item p{
    margin-top: 10px;
    font-size: max(1.4vw, 16px);
}

.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 80%;
    border-radius: 50%;
    transition: 0.2s;
}

.explore-menu-list-item img.active{
    border: 3px solid var(--secondaryColor);
    padding: 2px;
}

.explore-menu-list-item p.active{
    color: var(--secondaryColor);
}

.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #eee;
    border: none;
}