@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}

:root {
  --primaryColor: #49557e;
  --secondaryColor: rgb(0, 159, 127); 
  --secondaryColorHover: rgb(1, 147, 118);
}

.app{
  width: 80%;
  margin: auto;
}

.primary-btn{
    background-color: var(--secondaryColorHover);
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
    font-size: max(1vw, 14px);
    font-weight: 700;
    text-transform: capitalize;
    padding: 0.5vw 2vw;
    border-radius: 50px;
    border: none;
}



/***************************************
* 1. Style Animations css
****************************************/

@keyframes fadeDown {
    0%{
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100%{
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes zoom-one {
    
    0% {
     transform: scale(.95);
    }
    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(.95);
    }
}

@keyframes fadeInUp{
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
  0%{
      opacity: 0;
     
  }
  100%{
      opacity: 1;
  }
}


@-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-30px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }


@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-40px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 } 

 @-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-40px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-40px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
